@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;
    --primary: 180 60% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 173 33% 95%;
    --secondary-foreground: 0 0% 13%;
    --muted: 173 33% 95%;
    --muted-foreground: 0 0% 40%;
    --accent: 180 60% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 173 33% 90%;
    --input: 173 33% 90%;
    --ring: 180 60% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 0 0% 100%;
    --card: 0 0% 13%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 100%;
    --primary: 180 60% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 173 33% 20%;
    --secondary-foreground: 173 33% 95%;
    --muted: 173 33% 20%;
    --muted-foreground: 173 33% 70%;
    --accent: 180 60% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 173 33% 20%;
    --input: 173 33% 20%;
    --ring: 180 60% 40%;
  }
}

.bg-teal-500 {
  background-color: #259a9a;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* EXTENDED PREFLIGHT */
  /* gives some default styles to the html elements, some are removed by Tailwind by default */
  html {
    color-scheme: dark light;
    hanging-punctuation: first last;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }

  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-base;
  }
  h5 {
    @apply text-sm;
  }
  h6 {
    @apply text-xs;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight text-balance;
  }

  img,
  picture,
  svg,
  video {
    @apply italic bg-no-repeat bg-cover;
    shape-margin: 0.75rem;
  }

  p,
  li {
    max-width: var(--p-max-width, 65ch);
    @apply text-pretty;
  }

  p {
    @apply mb-4;
  }

  a {
    @apply text-primary hover:text-accent transition-colors;
  }
}
